* {
    margin: 0;
    padding: 0;
  }

html{
    background: #ffdfba;
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    font-size: 2rem;
    position: relative;
    text-align: center;
    margin-top: 8rem;
}

#box{
    margin-top: 2rem;    
    position: absolute;
    left: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.elements{

    border: 2px solid rgb(173, 123, 91);
    border-radius: 25px;
    margin: 1rem;
    font-size: 1rem;
}

#word{
    height: 35%;
    width: 40%;
    text-overflow: clip;
    padding: 1rem;
    font-size: 1.3rem;
}

#try{
    background: #ffae3d;
    height: 35%;
    width: 12%;
    transition: 0.3s;
    color: white;
}

#try:hover{
    background: rgb(181, 117, 45);
}

#text{
    background: #ffffff;
    height: 35%;
    width: 12%;
    display: grid;
    align-items: center;
    text-align: center;
}




  
  